<h2>Pipes</h2>
<p>{{unTexto | uppercase}}</p>
<p>{{unTexto | lowercase}}</p>
<p>{{unTexto | titlecase}}</p>
<p>{{unTexto | slice:0:4}}...</p>
<p>{{precio | currency}}</p>
<p>{{precio | currency:'EUR'}}</p>
<p>{{fecha}}</p>
<p>{{fecha | date}}</p>
<p>{{fecha | date:'dd/MM/yyyy'}}</p>
<p>{{fecha | date:'dd/MMM/yyyy'}}</p>

<pre>{{persona}}</pre>
<pre>{{persona | json}}</pre>

<p>{{precio | doble}}</p>
<p>{{precio | doble:5}}</p>
<p>{{precio | doble:0:1}}</p>

<p>{{unTexto | reverse}}</p>
<p>{{'hola mundo hola' | hideWords:['hola']}}</p>
<p>{{'hola mundo hola' | hideWords:['hola']:'-'}}</p>