<h3>Formulario reactivo</h3>

<form [formGroup]="formulario" (ngSubmit)="login()">
  <div>
    <label for="username">Usuario</label>
    <input type="text" id="username" formControlName="username">
    <app-error
      *ngIf="formulario.controls.username.touched && formulario.controls.username.invalid"
      [errores]="formulario.controls.username.errors"></app-error>
  </div>
  <div>
    <label for="password">Contraseña</label>
    <input type="password" id="password" formControlName="password">
    <app-error
      *ngIf="formulario.controls.password.touched && formulario.controls.password.invalid"
      [errores]="formulario.controls.password.errors"></app-error>
  </div>

  <div>
    <label for="categorias">Categorias</label>
    <input type="checkbox" value="c1" (change)="selectCheckbox($event)" >
    <input type="checkbox" value="c2" (change)="selectCheckbox($event)" >
    <input type="checkbox" value="c3" (change)="selectCheckbox($event)" >
  </div>


  <button type="submit" class="btn btn-success">Login</button>
  <button type="submit" class="btn btn-success" [disabled]="formulario.invalid">Login</button>
</form>

<button type="button" class="btn btn-primary" (click)="getDatos()">Get datos</button>
<button type="button" class="btn btn-danger" (click)="logout()">Logout</button>

<p>Datos que vienen del token:</p>
<pre>{{datosPayload | json}}</pre>