<h3>Formulario reactivo</h3>

<form [formGroup]="formulario" (ngSubmit)="login()">
  <div>
    <label for="username">Usuario</label>
    <input type="text" id="username" formControlName="username">
    <app-error
      *ngIf="formulario.controls.username.touched && formulario.controls.username.invalid"
      [errores]="formulario.controls.username.errors"></app-error>
  </div>
  <div>
    <label for="password">Contraseña</label>
    <input type="password" id="password" formControlName="password">
    <app-error
      *ngIf="formulario.controls.password.touched && formulario.controls.password.invalid"
      [errores]="formulario.controls.password.errors"></app-error>
  </div>
  <button type="submit">Login</button>
  <button type="submit" [disabled]="formulario.invalid">Login</button>
</form>