<h1>Curso Angular</h1>
<!-- <cmp-a-mano></cmp-a-mano>
<indra-componente-b></indra-componente-b>
<indra-componente-b></indra-componente-b>
<indra-componente-b></indra-componente-b>
<indra-componente-b></indra-componente-b> -->
<!-- <app-cmp-data-binding></app-cmp-data-binding> -->
<!-- <app-cmp-comunicacion-entre-componentes></app-cmp-comunicacion-entre-componentes> -->
<!-- <app-cmp-pipes></app-cmp-pipes> -->
<!-- <app-cmp-directivas></app-cmp-directivas> -->
<!-- <app-cmp-servicios></app-cmp-servicios> -->
<!-- <app-cmp-observables></app-cmp-observables> -->
<!-- <app-cmp-http></app-cmp-http> -->
<!-- <app-cmp-routing></app-cmp-routing> -->
<!-- <app-cmp-modulos></app-cmp-modulos> -->
<!-- <app-cmp-formularios></app-cmp-formularios> -->
<app-cmp-internacionalizacion></app-cmp-internacionalizacion>
<ul>
  <li *ngFor="let locale of localesList">
    <a href="/{{locale.code}}/">
      {{locale.label}}
    </a>
  </li>
</ul>