<h1>Curso Angular</h1>
<!-- <cmp-a-mano></cmp-a-mano>
<indra-componente-b></indra-componente-b>
<indra-componente-b></indra-componente-b>
<indra-componente-b></indra-componente-b>
<indra-componente-b></indra-componente-b> -->
<!-- <app-cmp-data-binding></app-cmp-data-binding> -->
<!-- <app-cmp-comunicacion-entre-componentes></app-cmp-comunicacion-entre-componentes> -->
<!-- <app-cmp-pipes></app-cmp-pipes> -->
<!-- <app-cmp-directivas></app-cmp-directivas> -->
<app-cmp-servicios></app-cmp-servicios>