div {
  border: 1px solid black;
  width: 300px;
}

div.completada {
  background-color: #8f8585;
}

div p.autor {
  font-size: 12px;
  text-align: right;
  margin-right: 20px;
}

div p.titulo {
  margin-left: 20px;
}