<h2>Http (HttpClient)</h2>

<button type="button" (click)="crearTarea()">Crear tarea</button>
<button type="button" (click)="completarTarea()">Completar/Descompletar tarea</button>
<button type="button" (click)="borrarTarea()">Borrar tarea</button>
<button type="button" (click)="getTarea()">Get tarea 1 con sus categorias</button>
<button type="button" (click)="getTareasCat1()">Get tareas de la categoria Cat 1</button>
<button type="button" (click)="getTareas()">Get tareas con categorias</button>